.hero {
   position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8vw;
  background: transparent; 
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: -70px;
  padding-top: 70px;
}

.hero-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;   
  gap: 4rem;
}

.hero-image-container {
  flex: 0 0 50%;        
  max-width: 600px;    
  height: 600px;
  overflow: hidden;    
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
}

.hero-right {
  justify-self: end;
  max-width: 400px;
  
}

.hero-image {
  width: 100%;
  height: 120%;
  object-fit: cover;
  border-radius: 20px;
  transform-origin: center;
  will-change: transform;
}


.hero-content {
   flex: 1.2;            
  max-width: 480px;
  padding-right: 3rem;
}

.hero-title {
  font-size: 6rem;
  line-height: 1.1;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #c5c5c5;
  margin-bottom: 2.5rem;
  font-family: "Inter", sans-serif;
}

.hero-button {
  background: #6366f1;
  border: none;
  padding: 1rem 2.2rem;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background: #4f46e5;
  transform: translateY(-3px);
}


@media (max-width: 1000px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 5rem 2rem;
  }

  .hero-image-container {
    flex: 0 0 420px; 
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }
}

.project-stage {
  position: relative;
  width: 70vw;
  max-width: 900px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 16px;
}

.arrow {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  z-index: 3;
}

.arrow:hover {
  opacity: 1;
}

.arrow.left {
  left: -60px;
}

.arrow.right {
  right: -80px;
}