.projects {
  position: relative;
  background: transparent;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;

  min-height: 100vh;    
  overflow: hidden;
  background: black;
  box-sizing: border-box;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
  padding-top: 70px;
}

.projects-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;
}


.projects-inner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem 8vw; 
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  color: white;
}

.projects-title {
  font-size: 5rem;
  font-weight: 700;
  text-align: left;
}

.projects-subtitle {
  font-size: 1.4rem;
  opacity: 0.8;
  max-width: 700px;
  margin: 1rem auto 0 auto;
}

.project-image{
  width: 65vw;
  height: 65vh;

}

.project-stage {
  transform: translateY(6vh);
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: none;
  border: none;
  font-size: 56px;
  cursor: pointer;
}

.arrow-left {
  left: -4vw;
}

.arrow-right {
  right: -4vw;
}

