.recommend {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  color: #f8fafc;
  overflow: hidden; 
   background-image: url('/src/assets/Recommendations_Photo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recommendations-title{
  align-self: flex-start; 
  text-align: left;
  width: 100%;          
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.recommendations-inner{
  max-width: 1700px;     
  margin: 0 auto;
  padding: 4rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}